# WEEK 1

# Decision Tree Classifier in Gapminder Dataset

## Importing Libraries

In [6]:
import numpy as np
import pandas as pd
import sklearn.metrics as sk
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier

## Importing data

In [7]:
data = pd.read_csv("gapminder.csv")

In [8]:
data1 = data.iloc[:,[0,1,2,9,14]].copy()

In [9]:
data1.head()

,country,incomeperperson,alcconsumption,lifeexpectancy,employrate
0,Afghanistan,,.03,48.673,55.7000007629394
1,Albania,1914.99655094922,7.29,76.918,51.4000015258789
2,Algeria,2231.99333515006,.69,73.131,50.5
3,Andorra,21943.3398976022,10.17,,
4,Angola,1381.00426770244,5.57,51.093,75.6999969482422

In [10]:
data1.columns = ["country","income","alcohol","life","employment"]

## Data Management

In [11]:
data1  = data1.iloc[:,1:]

In [12]:
def fun1(a):
    
    for i in range(len(a)):
        if a[i]==" ":
            a[i] = np.nan
        else :
            a[i] = float(a[i])
            
            
    x = np.mean(a.dropna())
    
    for i in range(len(a)):
        if np.isnan(a[i]):
            a[i] = x

In [13]:
for i in data1.columns :
    fun1(data1[i])

In [14]:
data1.head()

    income alcohol     life employment
0  8740.97    0.03   48.673       55.7
1     1915    7.29   76.918       51.4
2  2231.99    0.69   73.131       50.5
3  21943.3   10.17  69.7535     58.636
4     1381    5.57   51.093       75.7

## Removing Outliers

In [81]:
data2 = data1.copy()

In [82]:
def fun2(a):
    mean = np.mean(a)
    std = np.std(a)
    
    mx = mean+3*std
    mn = mean-3*std
    
    for i in range(len(a)):
        
        if (a[i]>mx)|(a[i]<mn):
            a[i]=np.nan

In [83]:
for i in data2.columns:
    fun2(data2[i])

In [84]:
len(data2)

213

In [85]:
data2 = data2.dropna()

In [86]:
len(data2)

208

5 rows as outliers dropped

## Modeling

Converting life expectancy to target variable

In [87]:
def fun3(a):
    
    
    
    if a<70:
        return 0
    else:
        return 1

In [88]:
data2["life"] = list(map(fun3,data2["life"]))

In [89]:
data2["income"] = pd.to_numeric(data2["income"])
data2["alcohol"] = pd.to_numeric(data2["alcohol"])
data2["employment"] = pd.to_numeric(data2["employment"])

In [90]:
data2["life"] = data2["life"].astype("category")

In [91]:
data2["life"].value_counts()

1    114
0     94
Name: life, dtype: int64

In [92]:
tar = data2["life"]
exp = data2.iloc[:,[0,1,3]]

In [93]:
x_train,x_test,y_train,y_test = train_test_split(exp,tar)

In [94]:
model = DecisionTreeClassifier().fit(x_train,y_train)

In [95]:
pred = model.predict(x_test)

In [96]:
sk.confusion_matrix(y_test,pred)

array([[20,  4],
       [ 4, 24]], dtype=int64)

In [101]:
44/52

0.8461538461538461

model has 84.61% accuracy