In [33]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv("gapminder.csv")

In [35]:
data.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

In [36]:
len(data)
data.iloc[0,1]

' '

In [37]:
for i in range(213):
    
    if data.iloc[i,1] == " ":
        data.iloc[i,1] = np.nan
    else:
        data.iloc[i,1] = float(data.iloc[i,1])

In [38]:
data.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,NaN,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1915,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

In [39]:
for i in range(213):
    
    if data.iloc[i,2] == " ":
        data.iloc[i,2] = np.nan
    else:
        data.iloc[i,2] = float(data.iloc[i,2])

In [40]:
for i in range(213):
    
    if data.iloc[i,9] == " ":
        data.iloc[i,9] = np.nan
    else:
        data.iloc[i,9] = float(data.iloc[i,9])

In [47]:
data2 = data.iloc[:,[0,1,2,9]].copy()

In [48]:
data2.head()

       country incomeperperson alcconsumption lifeexpectancy
0  Afghanistan             NaN           0.03         48.673
1      Albania            1915           7.29         76.918
2      Algeria         2231.99           0.69         73.131
3      Andorra         21943.3          10.17            NaN
4       Angola            1381           5.57         51.093

data

In [54]:
x = data2["incomeperperson"].value_counts(sort = False)

## missing values in income

In [55]:
len(data) - len(x)

23

In [57]:
y = data2["alcconsumption"].value_counts(sort = False)

## missing values in alcohol consumption

In [58]:
len(data)-len(y)

33

In [59]:
z = data2["lifeexpectancy"].value_counts(sort = False)

## missing values in life expectancy

In [60]:
len(data) - len(z)

24

as you can see since none of them is categorical variable aggregation for frequency table is to be done

# frequency tables

## income per person

In [65]:
s = data2[data2["incomeperperson"].isna()==False]["incomeperperson"]

In [66]:
max(s)

105147.437696852

In [67]:
min(s)

103.775857241166

In [71]:
z=  np.mean(s)

In [72]:
ls = s>z

In [73]:
ls = list(map(int,ls))

In [74]:
ls

[0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [76]:
t = pd.Series(ls)

In [81]:
x = t.value_counts(sort = False)

In [82]:
y = t.value_counts(sort = False,normalize = True)

In [84]:
x

0    139
1     51
dtype: int64

In [85]:
y

0    0.731579
1    0.268421
dtype: float64

In [86]:
d = pd.DataFrame()

In [87]:
d["category"] = [0,1]

In [88]:
d["Freq"] = x

In [89]:
d["percent"] = y

In [91]:
d["percent"][0] = d["percent"][0]*100
d["percent"][1] = d["percent"][1]*100

C:\Users\Aryan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Aryan\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
d

   category  Freq    percent
0         0   139  73.157895
1         1    51  26.842105

here 0 means below mean  and 1 means above mean

# alcohol consumption

In [93]:
s = data2[data2["alcconsumption"].isna()==False]["alcconsumption"]

In [94]:
max(s)

23.01

In [95]:
min(s)

0.03

In [97]:
np.mean(s)

6.689411764705882

In [99]:
def fun(a):
    if a<6.7:
        return "Very low"
    elif a<15:
        return "Moderate"
    else :
        return "high"

In [100]:
ls = list(map(fun,s))

In [102]:
s = pd.Series(ls)

In [104]:
x = s.value_counts(sort = False)

In [105]:
y = s.value_counts(sort = False,normalize = True)

In [106]:
d = pd.DataFrame()

In [108]:
d

          freq   percent
Moderate    71  0.379679
high        12  0.064171
Very low   104  0.556150

## Life expectancy

In [109]:
s = data2[data2["lifeexpectancy"].isna()==False]["lifeexpectancy"]

In [110]:
max(s)

83.394

In [111]:
min(s)

47.794

In [112]:
np.mean(s)

69.75352356020943

In [114]:
def fun(a):
    if a > 70:
        return "high"
    else:
        return "low"

In [115]:
s = pd.Series(list(map(fun,s)))

In [116]:
x = s.value_counts(sort = False)

In [117]:
y = s.value_counts(sort = False,normalize = True)

In [118]:
d = pd.DataFrame()

In [119]:
d["freq"] = x
d["percent"] = y

In [120]:
d

      freq   percent
high   115  0.602094
low     76  0.397906