# Final modeling

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import statsmodels.formula.api as sp
import matplotlib.pyplot as plt

In [2]:
train_values = pd.read_csv("train_values.csv")
train_labels = pd.read_csv("train_labels.csv")
data = pd.merge(train_values,train_labels,right_on = "building_id" , left_on = "building_id" )

In [3]:
data1 = data.iloc[:,0:15].copy()
data1["damage"] = data["damage_grade"].copy()


data1 = data1.drop("other_floor_type" ,axis = 1).copy()

data1 = data1.drop("plan_configuration",axis = 1).copy()
data1 = data1.drop("ground_floor_type" , axis = 1).copy()

data1.columns = ["id" ,"g1" ,"g2", "g3" ,"floors" ,"age" ,"area" ,"height" ,"surface" ,"foundation" ,"roof" ,"position","damage"]
print(data1.head())

       id  g1   g2     g3  floors  age  area  height surface foundation roof  \
0  802906   6  487  12198       2   30     6       5       t          r    n
1   28830   8  900   2812       2   10     8       7       o          r    n
2   94947  21  363   8973       2   10     5       5       t          r    n
3  590882  22  418  10694       2   10     6       5       t          r    n
4  201944  11  131   1488       3   30     8       9       t          r    n

  position  damage
0        t       3
1        s       2
2        t       3
3        s       2
4        s       3

In [4]:
def fun1(a):
    
    
    if a =="n":
        return -1
    elif a =="o":
        return 0
    else :
        return 1
        
data1["surface"] = list(map(fun1,data1["surface"]))

def fun2(a):
    if a =="j":
        return -2
    elif a =="o":
        return -1
    elif a=="s":
        return 1
    else :
        return 2
    
data1["position"] = list(map(fun2,data1["position"]))

def fun3(a):
    
    
    if a =="n":
        return -1
    elif a =="q":
        return 0
    else :
        return 1
    
data1["roof"] = list(map(fun3,data1["roof"]))
data1["foundation"] = list(map(fun3,data1["foundation"]))

#  Applying ML Techniques

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
data1 = data1[(data1["age"]<=140)&(data1["floors"]<=7)].copy()

In [7]:
data1["damage"] = data1["damage"].astype("category")
data1["position"] = data1["position"].astype("category")
data1["roof"] = data1["roof"].astype("category")
data1["foundation"] = data1["roof"].astype("category")
data1["surface"] = data1["surface"].astype("category")
data1["floors"] = data1["floors"].astype("category")

In [8]:
data1["surface"].dtype

CategoricalDtype(categories=[-1, 0, 1], ordered=False)

In [9]:
data1["position"].dtype

CategoricalDtype(categories=[-2, -1, 1, 2], ordered=False)

In [10]:
data1["roof"].dtype

CategoricalDtype(categories=[-1, 0, 1], ordered=False)

In [11]:
data1["foundation"].dtype

CategoricalDtype(categories=[-1, 0, 1], ordered=False)

In [12]:
x = data1.iloc[:,1:12].copy()
y = data1["damage"].copy()

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 ,random_state = 45 )

In [14]:
y_train

80200     2
153038    2
187827    2
90892     2
251002    2
         ..
61350     3
137963    3
195420    3
138514    3
254502    3
Name: damage, Length: 207140, dtype: category
Categories (3, int64): [1, 2, 3]

# Using random forests

In [ ]:
import sklearn.metrics as sk
ls = []
ls1 =[]
for i in range(10,110,10):
    model = RandomForestClassifier(n_estimators = i,random_state = 50).fit(x_train,y_train)
    pred = model.predict(x_test)
    ls1.append(i)
    ls.append(sk.accuracy_score(y_test,pred))

In [ ]:
plt.plot(ls1,ls,"--r")

since accuracy is not changing a lot with model we will be using n = 40 as our number of estimators

In [16]:
 model = RandomForestClassifier(n_estimators = 40,random_state = 50).fit(x,y)

# Predicting Data

In [18]:
x_test = pd.read_csv("test_values.csv")

data1 = x_test.iloc[:,0:15].copy()
data1 = data1.drop("other_floor_type" ,axis = 1).copy()
data1 = data1.drop("plan_configuration",axis = 1).copy()
data1 = data1.drop("ground_floor_type" , axis = 1).copy()
data1.columns = ["id" ,"g1" ,"g2", "g3" ,"floors" ,"age" ,"area" ,"height" ,"surface" ,"foundation" ,"roof" ,"position"]


def fun1(a):
    
    
    if a =="n":
        return -1
    elif a =="o":
        return 0
    else :
        return 1
        
data1["surface"] = list(map(fun1,data1["surface"]))

def fun2(a):
    if a =="j":
        return -2
    elif a =="o":
        return -1
    elif a=="s":
        return 1
    else :
        return 2
    
data1["position"] = list(map(fun2,data1["position"]))

def fun3(a):
    
    
    if a =="n":
        return -1
    elif a =="q":
        return 0
    else :
        return 1
    
data1["roof"] = list(map(fun3,data1["roof"]))
data1["foundation"] = list(map(fun3,data1["foundation"]))

In [19]:
data1

,id,g1,g2,g3,floors,age,area,height,surface,foundation,roof,position
0,300051,17,596,11307,3,20,7,6,1,1,-1,1
1,99355,6,141,11987,2,25,13,5,1,1,-1,1
2,890251,22,19,10044,2,5,4,5,1,1,-1,1
3,745817,26,39,633,1,0,19,3,1,1,1,2
4,421793,17,289,7970,3,15,8,7,1,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,1,1,0,2
86864,663567,10,1407,11907,3,25,6,7,-1,1,-1,1
86865,1049160,22,1136,7712,1,50,3,3,1,1,-1,1
86866,442785,6,1041,912,2,5,9,5,1,1,-1,1
86867,501372,26,36,6436,2,10,11,4,1,1,0,1

In [23]:
pred = model.predict(data1.iloc[:,1:])

In [32]:
x = pd.Series(pred,index = data1["id"])

In [34]:
x = pd.DataFrame(x)

In [40]:
y = x.reset_index()

In [42]:
y.columns = ["building_id","damage_grade"]

In [48]:
y = y.set_index("building_id")

In [49]:
y

             damage_grade
building_id
300051                  2
99355                   2
890251                  2
745817                  1
421793                  3
...                   ...
310028                  2
663567                  2
1049160                 2
442785                  2
501372                  2

[86868 rows x 1 columns]

In [50]:
y.to_csv("answer.csv")