# WEEK4

## MODERATOR IN GAPMINDER

### IMPORTING LIBRARIES

In [3]:
import numpy as np
import pandas as pd
import scipy.stats as sp
import statsmodels.formula.api as st
import statsmodels.stats.multicomp as multi

### IMPORTING DATA

In [4]:
data = pd.read_csv("gapminder.csv")

In [5]:
data.columns

Index(['country', 'incomeperperson', 'alcconsumption', 'armedforcesrate',
       'breastcancerper100th', 'co2emissions', 'femaleemployrate', 'hivrate',
       'internetuserate', 'lifeexpectancy', 'oilperperson', 'polityscore',
       'relectricperperson', 'suicideper100th', 'employrate', 'urbanrate'],
      dtype='object')

In [6]:
data.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

In [2]:
def fun1(a):
    for i in range(len(a)):
        if a[i] == " ":
            a[i] = np.nan
        else :
            a[i] = float(a[i])

In [7]:
data2 = data.iloc[:,[0,1,2,3,4,6,8,9,14,15]].copy()

In [8]:
data2.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,femaleemployrate,internetuserate,lifeexpectancy,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,25.6000003814697,3.65412162280064,48.673,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,42.0999984741211,44.9899469578783,76.918,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,31.7000007629394,12.5000733055148,73.131,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,81,,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,69.4000015258789,9.99995388324075,51.093,75.6999969482422,56.7

In [9]:
data2.columns = ["country" , "income" ,"alcohol" ,"army","cancer" ,"female" ,"internet","life","employment","urban"]

In [11]:
for i in data2.columns[1:]:
    fun1(data2[i])

In [12]:
def fun2(a):
    x = np.mean(a.dropna())
    
    for i in range(len(a)):
        if np.isnan(a[i]):
            a[i]=x

In [13]:
for i in data2.columns[1:]:
    fun2(data2[i])

In [14]:
data2.head()

,country,income,alcohol,army,cancer,female,internet,life,employment,urban
0,Afghanistan,8740.97,0.03,0.569653,26.8,25.6,3.65412,48.673,55.7,24.04
1,Albania,1915,7.29,1.02474,57.4,42.1,44.9899,76.918,51.4,46.72
2,Algeria,2231.99,0.69,2.30682,23.5,31.7,12.5001,73.131,50.5,65.22
3,Andorra,21943.3,10.17,1.44402,37.4029,47.5494,81,69.7535,58.636,88.92
4,Angola,1381,5.57,1.46133,23.1,69.4,9.99995,51.093,75.7,56.7

In [15]:
np.percentile(data2["female"],33)

43.99199996948243

In [16]:
np.percentile(data2["female"],66)

50.59199859619142

In [17]:
data3 = pd.DataFrame()

In [18]:
def fun4(a):
    if a<44:
        return 0
    elif a<51:
        return 1
    else :
        return 2

In [19]:
data3["fem"] = list(map(fun4,data2["female"]))

In [25]:
data3["fem"].value_counts()

1    74
0    70
2    69
Name: fem, dtype: int64

In [26]:
np.percentile(data2["employment"],33)

56.2999992370606

In [27]:
np.percentile(data2["employment"],66)

60.4000015258789

In [28]:
def fun5(a):
    if a<56:
        return 0
    elif a<60:
        return 1
    else :
        return 2

In [29]:
data3["emp"] = list(map(fun5,data2["employment"]))

In [30]:
data3["cancer"] = data2["cancer"]

In [31]:
data3.head()

   fem  emp   cancer
0    0    0     26.8
1    0    0     57.4
2    0    0     23.5
3    1    1  37.4029
4    2    2     23.1

In [32]:
data3["emp"].value_counts()

2    74
1    72
0    67
Name: emp, dtype: int64

In [33]:
data3["cancer"].value_counts()

37.40289    40
28.10000     7
19.50000     6
24.70000     4
31.20000     3
            ..
50.30000     1
38.50000     1
44.80000     1
16.20000     1
46.60000     1
Name: cancer, Length: 137, dtype: int64

In [34]:
data3["emp"] = data3["emp"].astype("category")

In [35]:
data3["fem"] = data3["fem"].astype("category")

In [37]:
data3["cancer"] = pd.to_numeric(data3["cancer"])

# ANOVA TEST

In [38]:
model = st.ols(formula = "cancer ~ C(emp)",data = data3).fit()

In [39]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 cancer   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.012
Method:                 Least Squares   F-statistic:                     2.264
Date:                Mon, 27 Jul 2020   Prob (F-statistic):              0.106
Time:                        14:44:45   Log-Likelihood:                -942.24
No. Observations:                 213   AIC:                             1890.
Df Residuals:                     210   BIC:                             1901.
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      40.8659      2.483     16.459      0.000      35.971      45.761
C(emp)[T.1]    -2.8355      3.450     -0.822      0.412      -9.636       3.965
C(emp)[T.2]    -7.2091      3.427     -2.103      0.037     -13.966      -0.453
==============================================================================
Omnibus:                       47.233   Durbin-Watson:                   1.597
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               72.406
Skew:                           1.271   Prob(JB):                     1.89e-16
Kurtosis:                       4.303   Cond. No.                         3.83
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### as you can see F statsistic is too low and p value is high as well so we can say that both breast cancer and employment are related to each other

### considering female employment as moderator

In [41]:
sub1 = data3[data3["fem"]==0]

In [42]:
sub2 = data3[data3["fem"]==1]

In [43]:
sub3 = data3[data3["fem"]==2]

In [45]:
model = st.ols(formula = "cancer ~ C(emp)",data = sub1).fit().summary()
print(model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 cancer   R-squared:                       0.085
Model:                            OLS   Adj. R-squared:                  0.057
Method:                 Least Squares   F-statistic:                     3.095
Date:                Mon, 27 Jul 2020   Prob (F-statistic):             0.0518
Time:                        14:49:28   Log-Likelihood:                -289.48
No. Observations:                  70   AIC:                             585.0
Df Residuals:                      67   BIC:                             591.7
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      38.9198      2.165     17.975      0.000      34.598      43.242
C(emp)[T.1]   -10.3363      4.961     -2.083      0.041     -20.239      -0.434
C(emp)[T.2]   -10.3484      6.233     -1.660      0.102     -22.789       2.092
==============================================================================
Omnibus:                       10.642   Durbin-Watson:                   2.182
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               11.541
Skew:                           0.739   Prob(JB):                      0.00312
Kurtosis:                       4.330   Cond. No.                         3.55
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## This shows that when female employment is low than breast cancer is not related to employment

In [46]:
model = st.ols(formula = "cancer ~ C(emp)",data = sub2).fit().summary()
print(model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 cancer   R-squared:                       0.081
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                     3.148
Date:                Mon, 27 Jul 2020   Prob (F-statistic):             0.0490
Time:                        14:50:52   Log-Likelihood:                -312.97
No. Observations:                  74   AIC:                             631.9
Df Residuals:                      71   BIC:                             638.8
Df Model:                           2
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      47.0691      4.241     11.099      0.000      38.613      55.525
C(emp)[T.1]    -8.9914      4.872     -1.845      0.069     -18.706       0.724
C(emp)[T.2]   -17.6066      7.345     -2.397      0.019     -32.252      -2.961
==============================================================================
Omnibus:                       10.739   Durbin-Watson:                   2.031
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               12.084
Skew:                           0.703   Prob(JB):                      0.00238
Kurtosis:                       4.393   Cond. No.                         5.37
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## This shows that when female employment is moderate than breast cancer is not related to employmentm

In [47]:
model = st.ols(formula = "cancer ~ C(emp)",data = sub3).fit().summary()
print(model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 cancer   R-squared:                       0.036
Model:                            OLS   Adj. R-squared:                  0.022
Method:                 Least Squares   F-statistic:                     2.505
Date:                Mon, 27 Jul 2020   Prob (F-statistic):              0.118
Time:                        14:51:39   Log-Likelihood:                -322.82
No. Observations:                  69   AIC:                             649.6
Df Residuals:                      67   BIC:                             654.1
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      27.9864      3.012      9.291      0.000      21.974      33.999
C(emp)[T.1]    21.1439      5.687      3.718      0.000       9.792      32.496
C(emp)[T.2]     6.8425      3.608      1.897      0.062      -0.359      14.044
==============================================================================
Omnibus:                       12.079   Durbin-Watson:                   1.613
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               13.891
Skew:                           1.099   Prob(JB):                     0.000963
Kurtosis:                       2.968   Cond. No.                     3.11e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.28e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

## This showed that when female employment is high breast cancer and employment is related

# SUMMARY

These steps showed that in breast cancer vs employment in a country its female employment acted as a moderater variable when the female employment was low and moderate their was no relation between breast cancer and employment but when female employment increased to high breast cancer became related to employment which acted as an evidence showing female employment acting as the moderator